.cover{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    .box{
        position: absolute;
        width: 300px;
        background-color: #fff;
        border-radius: 8px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .header{
            width: 100%;
            font-weight: bold;
            line-height: 34px;
            border-bottom: 1px solid #eeeeee;
            text-align: center;
        }
        .content{
            padding: 30px;
        }
        .close{
            width: 16px;
            height: 16px;
            position: absolute;
            top: 8px;
            right: 8px;
            background-color: rgba(0,0,0,.5);
            border-radius: 50%;
            cursor: pointer;
        }
    }
}
