.toastBox{
    line-height: 34px;
    border: 1px solid #eeeeee;
    background-color: #fff;
    border-radius: 3px;
    padding: 0 12px;
    position: fixed;
    z-index: 20191220;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: zoomIn .3s 0s;
    @keyframes zoomIn {
        from {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0);
        }
        to {
            opacity: 1;
        }
    }
    &.info{
        background-color: #d5ffe5;
        border-color: #40f4d7;
        color: #14c4a8;
    }
    &.success{
        background-color: #d5ffe5;
        border-color: #40f4d7;
        color: #14c4a8;
    }
    &.error{
        background-color: #ffeff0;
        border-color: #fbd3d2;
        color: #f56c6c;
    }
}