.home{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    .navTop{
        display: flex;
        height: 60px;
        background: #141414;
        flex-direction: row;
        padding: 10px 20px;
        h1{
            display: flex;
            width: 120px;
            height: 40px;
            color: #fff;
            font-size: 24px;
            font-weight: bold;
            align-items: center;
            justify-content: center;
        }
        ul{
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: center;
            justify-items: end;
            justify-content: flex-end;
            li{
                color: #fff;
                cursor: pointer;
            }
            li + li{
                margin-left: 20px;
            }
        }
    }
    .contentBody{
        flex: 1;
        display: flex;
        background: #eee;

        .navLeft{
            height: 100%;
        }

        .contentMain{
           flex: 1;
            margin: 20px;
            margin-left: 10px;
            display: flex;
            overflow: hidden;
            flex-direction: column;
            .dir{
                display: flex;
            }
        }
    }
}

.sidebar{
    display: flex;
    .sidebarLeft{
        max-height: 700px;
        overflow-y: auto;
    }
}