.loadingBox{
    display: flex;
    position: fixed;
    z-index: 20191221;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    color: #fff;
    align-items: center;
    justify-content: center;
}